/* universal */
*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;

}
/* header */
h1{
    font-size: 32px;
}
.header{
    background-repeat: no-repeat;
    height: 500px;
    background-size: cover;
    background-image: url('/images/donation8.jpg');
    text-align: center;
    box-shadow: inset 1px 1px 30px 22px #070707;
    
    
}
.header-description{
    color: white;
    padding-top: 200px;
    padding-left: 90px;
    padding-right: 90px;
    padding-bottom: 90px;
    font-size: 12px;
}
.btn-primary{
    background-color: rgb(230, 81, 81);
    border: none;
    color: white;
    padding: 8px;
    font-size: 12px;
    font-weight: 700;
    border-radius: 5px;
}
/*  main */
/* donate today */
.donate{
    margin-top: 60px;
    text-align: center;
}
.today-description{
    color: gray;
}
ul{
    display: flex;
    list-style: none;
    justify-content: center;

}

.tk > li{
    margin: 50px;
    text-align: center;
    padding : 30px;
    font-weight: 600;
    color: gray;
}

.tk > li:hover{
    color: rgb(230, 81, 81,);
    background-color: rgba(230, 81, 81, 0.568);
    border: 2px;
    padding: 30px;
    border-radius: 5px;
    border-color: rgb(230, 81, 81);
    border-style: solid;
}
.tk > li:active{
    color: rgb(230, 81, 81);
}
.amount{
    text-align: center;
    font-size: 12px;
    color: rgba(128, 128, 128, 0.671);
}
.hr{
    margin: 10px  50px;
}
.plan{
    text-align: center;
    margin-top: 5px;
}
.plan-h{
    font-size: 26px;
}
